*{
    box-sizing: border-box;
}
body{
    font-family: "Open Sens" , sans-serif;
    font-size: 18px;
}
.container{
    text-align: center;
}
.container form{
    margin: 20px auto 10px;
    width: 500px;
    overflow: hidden;
}
.container form input{
    background-color: #f7f7f7;
    border: 1px solid #eee;
    margin-bottom: 15px; 
    width: calc(100% - 210px);
    height: 46px;
    padding: 10px;
    float: left;
}
.container form input:focus{
    outline: none;
}
.container form button {
    width: 90px;
    height: 46px;
    padding: 10px;
    background-color: #2196f3;
    color: #fff;
    border-color: transparent;
    cursor: left;
    float: left;
    margin-left: 5px;
}
.container form button:disabled{
    opacity: 0.4;
    cursor: no-drop;
}
.container form button:focus {
    outline: none;
}
.container form button.delete-all{
    width: 110px;
    background-color: #f44336;
}
.container .tasks-list {
    width: 500px;
    margin: 0 auto;
}
.container .tasks-list .task-box {
    background-color: rgb(139, 195, 74 , 0.25);
    padding: 15px;
    text-align: left;
    margin-bottom: 15px;
    margin-right: 5px;
    width: calc(100% - 86px);
    cursor: pointer;
    float: left;
}
.container .tasks-list .delete {
    float: right;
    width: 80px;
    background-color: #f44336;
    color: #fff;
    border-color: transparent;
    padding: 1px 10px;
    cursor: pointer;
    height: 54px;
    line-height: 51px;
}